<% content_for :title, "Editing student course" %>

<h1>Editing student course</h1>

<%= render "form", student_course: @student_course %>

<br>

<div>
  <%= link_to "Show this student course", @student_course %> |
  <%= link_to "Back to student courses", student_courses_path %>
</div>
