<% content_for :title, "New student course" %>

<h1>New student course</h1>

<%= render "form", student_course: @student_course %>

<br>

<div>
  <%= link_to "Back to student courses", student_courses_path %>
</div>
